# Visual Studio files
.vs/
*.suo
*.user
*.userprefs
*.pdb
*.obj
*.bak
*.cache
*.log
*.ncb
*.opendb
*.res
*.sbr
*.bsc
*.vcproj.*.filters
*.vcxproj.user
*.lastbuildstate
*.aps
*.tlog
*.vsdps
*.vsp
*.vspx
*.psess
*.vsd
*.licx
*.vsmdi
*.webtest
*.testsettings
*.trx
*.ruleset
*.rdc
*.rdo
*.rdd
*.rdg
*.rdl
*.rdlc
*.rdlx
*.resharper

# Binaries and build artifacts
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.lib
*.exp
*.ilk
*.idb
*.pdb
*.xml
*.winmd
*.appx
*.appxbundle
*.msix
*.msixbundle
*.apk
*.aab
*.ipa
*.pkg
*.xap
*.zip
*.vsix
*.nupkg
*.snupkg
*.targets
*.props
*.rsp
*.config
*.json
*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json
*.pfx
*.snk

# Packages
packages/
!packages/build/

# MAUI specific files
MauiAppBuilderExtensions.g.cs
MauiProgram.g.cs
Platforms/*/bin/
Platforms/*/obj/
Platforms/*/Resources/Images/*.png.maccatalyst
Platforms/*/Resources/Images/*.png.windows
Platforms/*/Resources/Splash/*.svg.maccatalyst
Platforms/*/Resources/Splash/*.svg.windows
Platforms/*/Resources/AppIcon/*.svg.maccatalyst
Platforms/*/Resources/AppIcon/*.svg.windows
Platforms/*/Resources/Fonts/*.ttf.maccatalyst
Platforms/*/Resources/Fonts/*.ttf.windows
Platforms/*/Resources/Raw/*.txt.maccatalyst
Platforms/*/Resources/Raw/*.txt.windows
Platforms/*/Resources/Raw/*.json.maccatalyst
Platforms/*/Resources/Raw/*.json.windows
Platforms/*/Resources/Raw/*.xml.maccatalyst
Platforms/*/Resources/Raw/*.xml.windows

# User secrets
*.usersecrets

# Local settings
LocalSettings.json