@page "/intropage"

<h3>IntroPage</h3>
<h1>Welcome to Itahari International college</h1>
<img src="Images/about-iic.png"
<p>Itahari International College takes an innovative approach to providing access to affordable higher education and an engaging learning experience that goes beyond just textbooks.</p>
@code {

}
